.piano {
  // border: 5px solid #aa4242;
  width: 100px;
  height: 460px;
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 0px;
  padding: 00px 0px 10px 20px;
}

.keys {
  
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  text-align: center;
  translate: 0px -20px;
}

.key {
  position: relative;
  width: 33px;
  height: 33px;
  border: 1px solid #689d6a;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  span{
    font-size: 10pt;
    font-weight: 800;
    position:absolute;
    bottom:0;
    right:5px;
  }
}

.white {
  translate: 50px 0px;
  color: #6c5f64;
  background-color: black;
  border: 2px solid #689d6aaa;
  border-radius: 50%;
}

.black {
  color: #654945af;
  border: 2px solid #50494542;
  background-color: black;
  margin-top: -15px;
  // margin-left: -13px;
  // margin-right: -13px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1;
}

.active {
  background-color: #8ec07c;
}

.in-scale{
  background-color: #458588;
}
