.qunatizer-container{
  border: 5px solid #aa424200;
  width: 100px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 10px 0px 10px 10px;
  padding: 00px 10px 10px 0px;

  .quant-header{
    // border: 1px solid #83a598;
    rotate: -90deg;
    translate: -85px 210px;
    width: fit-content;
    color: #83a598;
    font-weight: 900;
    font-size: 18pt;
    text-align: center;
    margin: 10px 10px -8px 5px;

  }

  .quant-placer{
    
    width: 100%;
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: px;      
    
    
    .radio{
      min-width: 100%;
      display: flex;
      flex-direction: column;   
      align-items: center;   
    

      .rb-columns{
        .quant-scale{
          width: fit-content;
          height: fit-content;
          display: flex;
          justify-content: center;
          margin-top: 22px;
          
        }

        .quant-octave{
          width: fit-content;
          height: fit-content;
          display: flex;
          justify-content: center;
          margin-top: 22px;
          
          
        }
      }
    .rb-columns-mode{ 
      .quant-mode{
        
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin-top: 22px;
        
      }

        .quant-chord{
          
          width: fit-content;
          height: fit-content;
          display: flex;
          justify-content: center;
          margin-top: 22px;
        }
      }
    }
  }
}
