.App {
  background-color: #1d2021;
  min-width: 100vw;
  min-height: 100vh;
  max-width:100%;  /* added */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}